  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Baixe para o seu computador o Pomotron</h2>
              <a href="#" class="btn btn-default btn-xl wow tada">Mac OS</a>
              <a href="#" class="btn btn-default btn-xl wow tada">Windows 64</a>
              <a href="#" class="btn btn-default btn-xl wow tada">Windows 32</a>
              <a href="#" class="btn btn-default btn-xl wow tada">Linux 64</a>
              <a href="#" class="btn btn-default btn-xl wow tada">Linux 32</a>
          </div>
      </div>
  </aside>
