  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Baixe para o seu computador o Pomotron</h2>
              <a href="https://github.com/Silva01/pomotron/releases/download/v1.0.0/mac.zip" class="btn btn-default btn-xl wow tada">Mac OS</a>
              <a href="https://github.com/Silva01/pomotron/releases/download/v1.0.0/pomotron-win32-x64.zip" class="btn btn-default btn-xl wow tada">Windows 64</a>
              <a href="https://github.com/Silva01/pomotron/releases/download/v1.0.0/pomotron-win32-ia32.zip" class="btn btn-default btn-xl wow tada">Windows 32</a>
              <a href="https://github.com/Silva01/pomotron/releases/download/v1.0.0/Pomotron-linux-x64.tar.gz" class="btn btn-default btn-xl wow tada">Linux 64</a>
              <a href="https://github.com/Silva01/pomotron/releases/download/v1.0.0/Pomotron-linux-ia32.tar.gz" class="btn btn-default btn-xl wow tada">Linux 32</a>
          </div>
      </div>
  </aside>
