<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">O que é Pomodoro ?</h2>
                <hr class="light">
                <p class="text-faded"> A Técnica Pomodoro é um método de gerenciamento de tempo desenvolvido por Francesco Cirillo no final dos anos 1980. A técnica consiste na utilização de um cronômetro para dividir o trabalho em períodos de 25 minutos, separados por breves intervalos.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Download</a>
            </div>
        </div>
    </div>
</section>
