<header>
  <div id="particles-js"></div>
  <div class="center-div">

      <!-- texto central -->
      <div class="texto">

          Controle suas horas de Estudo com <span>Pomotron</span>

          <!-- texto redes sociais -->
          <div class="small">
              O Pomotron é uma ferramenta baseada na técnica de Pomodoro, auxiliando o estudante a controlar de forma eficiênte as horas de estudos, com tempo de intervalo e de estudo
              <br>
              <a href="#about" class="btn btn-primary btn-xl page-scroll">O que é o Pomodoro ?</a>
          </div>
          <!-- fim texto redes sociais -->

      </div>
      <!-- fim texto central -->

  </div>

</header>
